*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html, body{
   width: 100%;
   height: 100%;
   position: relative;
}

#card{
   position: absolute;
   z-index: 10;
   justify-content: center;
   align-items: center; 
   width: 40%;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   height: 40%;
   border-radius: 10px;
   border: 2px solid white;
   background-color: rgb(217, 155, 49);
   display: none;
   
}
#result{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
}
#result h2,h3,h3{
   font-size: 30px;
   font-weight: 600;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: white;
}


.main{
   display: flex;
   align-items: center;
   width: 100%;
   height: 100%;
   background-color: moccasin;
   justify-content: center;
     
}

#panel{
   overflow: hidden;
   width: 80%;
   height: 90%;
   background-color: azure;
   border-radius: 10px; 
}


#p-top{
   padding: 0px 30%;
   width: 100%;
   justify-content: space-between;
   height: 100px;
   align-items: center;
   background-color: rgb(217, 155, 49);
   display: flex;
}
.elem{
   display: flex;
   align-items: center;
   gap: 20px;
  

   
}
.elem h4{
   font-weight: 500;
   font-size: 30px;
}

.box{
   padding: 10px 20px;
   background-color: #fff;
   border-radius: 5px;
   font-weight: 600;
   font-size: 25px;
   color: rgb(218, 149, 30);
   cursor: pointer;
}
#p-bottom{
   flex-wrap: wrap;
   gap: 10px;
   display: flex;
   padding: 20px;
   width: 100%;
   height: calc(100%-100px);
   


}

.bubble{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 60px;
   height: 60px;
   background-color: rgb(217, 155, 49);
   color: #fff;
   border-radius: 50%;
   font-weight: 800;
   cursor: pointer;
}

.bubble{
   background-color: rgb(224, 142, 0);
}